<html>
<head></head>
<body>

<h2>Subscribe to Flight Updates</h2>

<form action="#" th:action="@{/flight-subscription}" method="post">
    <input type="hidden" name="passenger_id" th:value="${passengerId}"/>
    <input type="hidden" name="date" th:value="${date}"/>
    <p><label for="flight_number">Flight Number</label> <select id="flight_number" name="flight_number">
        <option th:each="flightNumber : ${availableFlights}" th:text="${flightNumber}" th:value="${flightNumber}"></option>
    </select></p>
    <p><button>Submit</button></p>
</form>

</body>
</html>