<html>
<head></head>
<body>

<h2>Subscribe to Flight Updates</h2>

<form action="#" th:action="@{/flight-subscription/choose-date}" method="post">
    <p><label for="passenger_id">Passenger Name</label> <select id="passenger_id" name="passenger_id">
        <option th:each="passenger : ${passengers}" th:text="${passenger.name}" th:value="${passenger.id}"></option>
    </select></p>
    <p><label for="date">Date</label> <select id="date" name="date">
        <option th:each="date : ${availableDates}" th:text="${date}" th:value="${date}"></option>
    </select></p>
    <p><button>Submit</button></p>
</form>

</body>
</html>